* {
  box-sizing: border-box;
  -ms-overflow-style: none; }

*::-webkit-scrollbar {
  display: none; }

:root {
  font-size: 16px; }

a {
  text-decoration: none;
  color: black; }

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: 50px; }

body .content .search-panel {
  margin-bottom: 25px; }

body .content .search-panel label,
body .content .search-panel input {
  display: block;
  margin: 10px 0; }

body .content .result .weather {
  margin-bottom: 25px; }

body .content .result .spots {
  margin-bottom: 25px; }
